<div id="<%= dom_id friend %>">
  <p style="color:blue; font-size: 150%">
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p style="color:blue; font-size: 150%">
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p style="color:blue; font-size: 150%">
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p style="color:blue; font-size: 150%;">
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p style="color:blue; font-size: 150%;">
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>
